.entry .wpdm-download-link {
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 2px;
    margin-right: 10px;
    font-family: "franklin-gothic-urw-cond","Arial Narrow Bold","Arial", sans-serif;
    font-size: 14px;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #ed7127;
    border: 1px solid #ed7127;
    text-shadow: 1px 1px 0 #e36a22;
}

.entry .wpdm-download-link:hover {
    color: white;
    -webkit-box-shadow: 1px 1px 1px #b1b1b1;
    box-shadow: 1px 1px 1px #b1b1b1;
    border-color: #cf5f1c;
    background: #ed7127; /* Old browsers */
    background: -webkit-linear-gradient(top, #ed7127 0%, #d35f1a 100%);
    background: -moz-linear-gradient(top, #ed7127 0%, #d35f1a 100%);
    background: -o-linear-gradient(top, #ed7127 0%, #d35f1a 100%);
    background: -ms-linear-gradient(top, #ed7127 0%, #d35f1a 100%);
    background: linear-gradient(top, #ed7127 0%, #d35f1a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7127', endColorstr='#d35f1a',GradientType=0 ); /* IE6-9 */
}

.w3eden .wpdm-filelist .btn-primary,
.w3eden .wpdm-filelist .btn-primary:hover {
    color: #428BCA !important;
    background: transparent;
    border-color: #ddd;
}

.w3eden .wpdm-filelist .btn-primary .fa {
    display: none;
}

.hkr-wpdatatable h2:first-child {
    display: none;
}

.wpDataTables table.wpDataTable thead tr th {
    font-family: "droid-serif", Georgia, serif;
    font-weight: normal;
}

.wpDataTables table.wpDataTable tr td {
    font-family: "droid-sans", "Arial", sans-serif;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    vertical-align: top;
}

.wpDataTable td, .wpDataTable th {
    font-size: 13px;
    line-height: 1.5em;
}

.wpDataTable tbody td:first-child a {
    font-size: 14px;
}

.wpDataTable tbody a {
    text-decoration: none;
}

.wpDataTable tbody a:hover {
    text-decoration: underline;
}

.wpDataTable tbody td:first-child a {
    font-weight: bold;
    color: #333;
}